.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Full height of the viewport */
  background-color: #f0f0f0; /* Light background color */
}

.header {
  background-color: #4CAF50; /* Green background */
  color: white;
  padding: 20px;
  width: 100%; /* Full width */
  text-align: center; /* Center text */
}

.board {
  height: 80%; /* Set the height to 80% of the parent container */
  width: 80%; /* Set the width to 80% of the parent container */
  display: flex;
  align-items: center; /* Center the chessboard vertically */
  justify-content: center; /* Center the chessboard horizontally */

/* max-width: 50%; */
  /* max-height: 60%; */
}

.footer {
  background-color: #4CAF50; /* Green background */
  color: white;
  padding: 10px;
  width: 100%; /* Full width */
  text-align: center; /* Center text */
}